html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    outline: 0 none !important;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

h1 {
    font-size: 42px;
}

h1,
h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    background-color: #87509c;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 70px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 21px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2px 12px;
}

.header__home {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2px 12px;
    border-radius: 4px;
    background-color: #643a79;
}


/* HEADER END */


/* MAIN */

.intro {
    text-align: center;
    background-color: #87509c;
    height: 600px;
}

.intro__title {
    text-align: center;
    font-size: 42px;
    padding-top: 240px;
    letter-spacing: 2px;
}

.intro__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Titillium Web', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 85px;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    color: #ffffff;
    border-bottom: 4px solid #cf6e42;
    background-color: #eb7d4b;
}

.intro__button:active {
    background-color: #cf6e42;
    transform: translateY(4px);
    transform: translate(-50%, 0);
}


/* MAIN END */


/* TESTIMONIALS */

li,
ul {
    display: block;
    padding: 0;
}

.testimonials {
    background-color: #d74680;
    color: #fff;
    padding-bottom: 120px;
    padding-top: 110px;
}

.testimonials__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
}

.testimonials__title::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 87px;
    height: 4px;
    background: #000;
    opacity: .15;
}

.testimonials__text {
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 70px;
    text-align: center;
}

.testimonials__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonials__ul__item {
    margin: 50px;
}

.testimonials__ul__item__wrapper {
    display: flex;
    width: 450px;
}

.testimonials__ul__item__img {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.testimonials__text__wrapper {
    display: inline-block;
    max-width: 450px;
    padding-left: 30px;
}

blockquote {
    margin: 0 0 1rem;
}

em {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.testimonials__ul__item__wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 11px;
}

.testimonials__ul__item__wrapper h3 {
    font-size: 18px;
    color: #fd9;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}


/* TESTIMONIALS END */


/* GET IN TOUCH */

.getintouch {
    background-color: #3c5499;
    color: #ffffff;
    padding-bottom: 120px;
    padding-top: 120px;
}

.getintouch__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
}

.getintouch__title::after {
    content: "";
    display: block;
    margin: 20px auto;
    width: 87px;
    height: 4px;
    background: #273a71;
}

.getintouch__text {
    letter-spacing: 0.5px;
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
}

.getintouch__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 70px;
}

.getintouch__form-item {
    font-family: 'Titillium Web', sans-serif;
    width: 390px;
    height: 40px;
    margin: 20px;
    padding: 25px;
    color: #fff;
    font-weight: 500;
    background-color: #273a71;
    border: none;
    border-radius: 4px;
}

.getintouch__form-item::placeholder,
.getintouch_form-item-textarea::placeholder {
    color: #fff;
}

.getintouch_form-item-textarea {
    font-family: 'Titillium Web', sans-serif;
    width: 822px;
    border: none;
    height: 200px;
    border-radius: 4px;
    padding: 24px;
    background-color: #273a71;
    color: #fff;
    font-weight: 500;
}

.getintouch_button {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 85px;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    color: #ffffff;
    border-bottom: 4px solid #299ec5;
    background-color: #30bae7;
}

.getintouch_button:active {
    background-color: #299ec5;
    transform: translateY(4px);
    transform: translate(-50%, 0);
}

.main-footer {
    background-color: #344b8e;
}

.main-footer__ul {
    display: flex;
    justify-content: space-around;
}

.main-footer__ul__item {
    padding: 40px;
}

.main-footer__ul__item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.main-footer__ul__item a:hover {
    color: #30bae7;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

#Backlight {
    color: #30bae7;
}