html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    outline: 0 none !important;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

h1,
h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    background-color: #87509c;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 70px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 21px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2px 12px;
}

.header__home {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2px 12px;
    border-radius: 4px;
    background-color: #643a79;
}


/* HEADER END */


/* MAIN */

.intro {
    text-align: center;
    background-color: #87509c;
    height: 600px;
}

.intro__title {
    text-align: center;
    font-size: 42px;
    padding-top: 240px;
    letter-spacing: 2px;
}

.intro__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 85px;
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    color: #ffffff;
    border-bottom: 4px solid #cf6e42;
    background-color: #eb7d4b;
}

.intro__button:active {
    background-color: #cf6e42;
    transform: translateY(4px);
    transform: translate(-50%, 0);
}


/* MAIN END */


/* TESTIMONIALS */

.testimonials {
    text-align: center;
    height: 900px;
    background-color: #d74680;
}

.testimonials__wrapper {
    max-width: 1120px;
    background-color: #d74680;
}

.testimonials__title {
    color: #ffffff;
    font-size: 40px;
    padding-top: 120px;
    letter-spacing: 5px;
}

.testimonials__text {
    color: #ffffff;
    font-size: 18px;
    padding-top: 50px;
    letter-spacing: 2px;
}

.testimonials__line {
    margin-top: 22px;
    width: 87px;
    height: 4px;
    background-color: #b73c6d;
    border: none;
}

.testimonials__members {
    padding: 85px 100px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

.testimonials__member-title {}

.testimonials__member-name {
    color: #ffffff;
    margin-top: 29px;
    font-size: 24px;
    font-weight: 600;
}

.testimonials__member-company {
    margin-top: 11px;
    font-size: 18px;
    color: #f8c495;
}

.testimonials__member-text {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 21px;
    font-style: italic;
}


/* TESTIMONIALS END */